.app-header {
  background-color: var(--prm1);
  color: var(--prm2);
  padding: 1em;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  border-bottom: 1px solid rgb(218,220,224);
}

.app-header a{
  padding: 5px;
}

.app-header a:hover{
  background-color: var(--prm3);
  border-radius: 12px;
}

@media(max-width: 720px) {
  .app-header {
    background-color: var(--clr3);
    color: var(--secondary-clr2);
  }
}
