.app-header {
  background-color: var(--prm1);
  color: var(--prm2);
  padding: 1em;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  border-bottom: 1px solid rgb(218, 220, 224);
}

.app-header a {
  padding: 5px;
}

.app-header button {
  color: black;
  background-color: unset;
  border: 0;
  border-radius: 50%;
}

.app-header button:hover {
  background-color: var(--prm3);
}

.logo {
  font-family: lobster;
  font-size: 2rem;
}

.app-header-screen {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 50%);
  z-index: 10;
  opacity: 0;
  transition: opacity .5s;
  pointer-events: none;
}

.app-header.menu-open .app-header-screen {
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
}

.app-header nav {
  background-color: var(--prm1);
  display: flex;
  font-family: roboto-light;
}

.app-header nav a:hover {
  background-color: var(--prm3);
}

@media (max-width: 800px) {
  .app-header nav {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 20;
    border-left: 1px solid var(--prm3);
    box-shadow: -9px 0px 14px rgb(0 0 0 / 30%);
    transform: translateX(110%);
    transition: transform .5s;
  }

  .app-header.menu-open nav {
    transform: translateX(0);
  }

  .app-header nav button {
    height: 50px;
    width: 50px;
    padding: 0;
    align-self: flex-end;
  }

  .app-header nav a:nth-child(2) {
    border-top: 1px solid var(--prm3);
  }

  .app-header nav a {
    width: 200px;
    padding: 20px;
    border-bottom: 1px solid var(--prm3);
  }
}

@media (min-width: 800px) {

  .app-header-screen,
  .app-header-menu-btn,
  .app-header-close-btn {
    display: none;
  }

  .app-header nav {
    display: flex;
    font-family: roboto-light;
    gap: 50px;
    padding-inline-end: 20px;
  }

  .app-header nav a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}