.home-page {
    height: 90vh;
    background-color: lightblue;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Appsus/assets/img/bg-hero.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
}

.hero-text button{
    background-color: transparent;
}