.user-msg {
    position: fixed;
    z-index: 50;
    bottom: 50px;
    right: 10px;
    height: 50px;
    width: 290px;
    padding: 10px;
    border-radius: 5px;
    background-color: #202124;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto-bold;
}

.error{
    color: red;
}