.color-palette {
    height: 60px;
    background-color: white;
    border: 1px solid #e9eaea80;
    display: flex;
    border-radius: 20px;
    gap: 5px;
    position: absolute;
    bottom: 0;
    transform: translate(-25%, 100%);
    z-index: 10;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.note-img>.color-palette {
    transform: translate(0, 100%);
}

.color-palette-div {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: border 1s;
}

.color-palette div:first-child {
    border: 1px solid #72727280;
}

.color-palette-div:hover {
    outline: 2px black solid;
}

.color-palette:focus {
    outline: none;
}

@media (max-width: 700px) {
    .color-palette {
        width: 250px;
        height: 110px;
        display: grid;
        gap: 7px;
        grid-template-columns: repeat(5, 40px);
        grid-template-rows: repeat(2, 40px);
        transform: translateY(100%);
        /* columns: ; */
    }

}