.note-txt {
    /* min-height: 200px; */
    /* outline: 2px blue solid; */
}

.note-txt h1 {
    font-family: open-sans;
}

.note-txt p {
    margin: 0;
    display: block;
    max-height: 450px;
    overflow: auto;
    overflow-wrap: break-word;
}