.note-txt {
    /* min-height: 200px; */
    /* outline: 2px blue solid; */
}

.note-txt p {
    margin: 0;
    display: block;
    max-height: 450px;
    overflow: auto;
    overflow-wrap: break-word;
}

.note-txt p::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.note-txt p::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

.note-txt p::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

.note-txt p::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

.note-txt p::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .9);
}