.note-add {
    position: relative;
}

.note-add-actions {
    position: absolute;
    top: 0;
    right: 1em;
    height: 50px;
}

.note-add-actions>div {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-add-actions>div:hover {
    background-color: #e9eaeab1;
}

.note-add-actions>div.active {
    background-color: #adadada1;
}

.note-add-todos-input,
.note-add-todos-label,
.note-add-img-input,
.note-add-txt-input {
    padding: 1em 14em 1em 1em;
    width: 400px;
    border-radius: 50px;
    height: 48px;
    border: 0;
    box-shadow: -7px 7px 29px 1px rgba(228, 228, 228, 1);
    -webkit-box-shadow: -7px 7px 29px 1px rgba(228, 228, 228, 1);
    -moz-box-shadow: -7px 7px 29px 1px rgba(228, 228, 228, 1);
}

.note-add-actions-txt,
.note-add-actions-img,
.note-add-actions-todos {
    padding: 12px;
}