.note-app-container {
    min-height: 90vh;
    gap: 20px;
    font-size: 1.25rem;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding: 1em;
}

.note-app-container pre {
    margin: 0;
}

.note-app-container>* {
    outline: 1px black solid;
}

.note {
    min-height: 300px;
    padding: 10px 10px 30px;
    margin-block-end: 20px;
    max-width: 500px;
    break-inside: avoid;
    position: relative;
    overflow: auto;
    max-height: 500px;
}

@media (min-width: 600px) {
    .note {
        max-width: 238px;
    }
}