.note-todos {
    outline: 2px green solid;
    min-height: 200px;
}

.note-todos ul {
    max-height: 400px;
    overflow-y: auto;
}

.note-todos ul li {
    overflow-wrap: break-word;
}

.note-todos ul::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.note-todos ul::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

.note-todos ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

.note-todos ul::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

.note-todos ul::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .9);
}