.note-todos {
    /* outline: 2px green solid; */
    min-height: 200px;
}

.note-todos label {
    font-family: open-sans;
}

.note-todos ul {
    max-height: 390px;
    overflow-y: auto;
    margin: 10px 0 0 0;
}

.note-todos ul li {
    overflow-wrap: break-word;
}

.note-todos ul li.todo-done {
    text-decoration: line-through;
}

.note-todos .todo-done {
    text-decoration: line-through;
}