.note-img {
    /* outline: 2px red solid; */
    display: flex;
    flex-direction: column;
    font-family: open-sans;
}

.note-img label {
    /* height: 20%; */
}

.note-img>img {
    object-fit: cover;
    height: 100%;
}

@media (max-width: 600px) {
    .note-img>img {
        max-height: 400px;
    }

}