.note-app-container {
    min-height: 90vh;
    gap: 20px;
    font-size: 1.25rem;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding: 1em;
}

.note-app-container pre {
    margin: 0;
}

.note-app-container>* {
    outline: 1px black solid;
}

.note {
    min-height: 250px;
    max-height: 500px;
    padding: 10px 10px 40px;
    margin-block-end: 20px;
    max-width: 500px;
    break-inside: avoid;
    position: relative;
    text-overflow: ellipsis;
    border-radius: 10px;
    border: 1px gray solid;
}

.note:hover {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.64);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.64);
}

@media (min-width: 600px) {
    .note {
        max-width: 238px;
    }
}