.note-list {
    columns: 238px 1;
    min-height: 660px;
    padding: 10px;
    height: fit-content;
    /* display: flex;
    flex-wrap: wrap;
    gap: 20px; */

    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-row: auto; */

}

@media (min-width: 600px) {
    .note-list {
        columns: 238px 2;
    }
}

@media (min-width: 860px) {
    .note-list {
        columns: 238px 3;
    }

}

@media (min-width: 1200px) {
    .note-list {
        columns: 238px 4;
    }

}

@media (min-width: 1400px) {
    .note-list {
        columns: 238px 5;
    }

}