.email-list{
    background-color: var(--clr2);
    grid-area: emails;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

@media (max-width:1200px) {
    .email-list{
        padding: 10px;
        width: 100%;
    }
    
}