
.email-add {
    position: fixed;
    background-color: var(--clr1);
    bottom: 0;
    left: 50%;
    z-index: 50;
    height: 600px;
    width: 500px;
    box-shadow: 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.new-email-headline {
    background-color: var(--clr3);
    color: var(--clr6);
    padding: 20px;
    font-family: roboto;
    font-size: 14px;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.new-email-input {
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: var(--clr6);
}

.new-email-input input {
    font-size: 18px;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--clr7);
}

.new-email-input input:focus {
    outline: none;
}

.email-add textarea {
    flex-grow: 1;
    padding: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--clr6);
}



.new-email-btns {
    display: flex;
    justify-content: space-between;
    justify-items: flex-end;
    padding: 10px;
}

.email-add>span {
    background-color: transparent;
    cursor: pointer;
    color: var(--clr6);
    border: none;
    position: absolute;
    font-family: roboto-thin;
    top: 5px;
    right: 5px;
}

.send-btn {
    background-color: var(--clr3);
    color: var(--clr6);
    width: 90px;
    height: 10px;
    text-align: left;
    padding: 10px;
    font-family: roboto-bold;
    font-size: 15px;
    border: none;
    border-radius: 15px;
}

.send-btn:disabled {
    background-color: var(--clr2);
    color: var(--clr7);
}

.draft-btn{
    background-color: transparent;
    border: none;
    color: var(--clr6);
}
.draft-btn:disabled{
    color: var(--clr7);
}

@media (max-width: 640px) {
    .email-add {
        position: fixed;
        transform: translate(-46%,0%);
        height: 60%;
        width: 75%;
    }


    .email-add textarea {
        height: 70%;
    }

}