.email-preview {
    cursor: pointer;
    color: var(--clr7);
    background-color: var(--clr2);
    max-height: 45px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.01fr 0.19fr 0.7fr 0.1fr;
    align-items: center;
    text-align: left;
    font-size: 14px;
    padding: 8px;
}

.email-preview h3,h5{
    font-family: roboto-thin;
    font-size: 14px;
}

.email-preview h5{
    text-align: right;
}

.email-info {
    width: 100%;
    /* width: 300px; */
    display: flex;
    gap: 15px;
    color: var(--clr7);
    text-overflow: ellipsis;
    white-space: nowrap;
}



.star-btn {
    width: 40px;
    background-color: transparent;
    border: none;
    justify-self: center;
    color:var(--clr6);
}

.star-btn:hover{
    scale: 1.1;
}

.unread {
    background-color: var(--clr1);
    color: black;
}

.bold{
    font-family: roboto !important;
    color: black;
}

.draft{
    color: red;
}

@media (max-width:1200px) {
    .email-preview{
        height: max-content;
        grid-template-columns: 0.8fr 0.2fr;
        grid-template-rows: 0.6fr 0.2fr 0.2fr ;
        grid-template-areas: 'sender date' 'info star' 'body star';
        position: relative;
    }
    .sender{
        grid-area: sender;
    }
    .date{
        grid-area: date;
    }
    .star-btn{
        grid-area: star;
        right: 0;
        position: absolute;
    }


    

}