.email-controller{
    grid-area: controller;
    background-color: var(--clr2);
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.toggle-menu-btn{
   color: var(--clr8);
   width: 50px;
   font-size: 50px;
   border: none;
   background-color: transparent;
   display: none;
}

.controller-btn{
    color: black;
    border: none;
    background-color: transparent;
    text-align: left;
}

.controller-btn{
    padding: 20px;
    border-radius: 22px;
    color: var(--clr6);
    font-weight: bold;
}

.compose-btn{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--clr3);
    color: var(--clr6);
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    min-width: max-content;
    border: none;
}

.active{
    background-color: var(--clr4);
}

@media (max-width:640px) {
    .email-controller {
        background-color: var(--clr2);
        position: fixed;
        width: 70%;
        bottom: 0;
        left: -150%;
        height: 90%;
        transition: transform .6s, box-shadow .6s;
    }
    .img-container{
        display: none;
    }
    .compose-btn{
        position: fixed;
        bottom: 50px;
        left: 20px;
        width: 50px;
    }
    .toggle-menu-btn{
        display: block;
        position: fixed;
        padding: 0;
        left: 0;
        top: 30px;
    }
    .email-controller.open{
        left: 50%;
        /* top: 40px; */
        left: 0;
        box-shadow: -9px 0px 14px rgb(0 0 0 / 30%);
    }
    
}