.email-details{
    background-color:var(--clr1);
    height: 300px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.02fr 0.38fr 0.6fr;
    grid-template-areas: 'actions' 'info' 'subject';
    position: relative;
    font-size: 20px;
    font-family: roboto;
}

.email-details.full{
    height: 100%;
    grid-template-rows: 0.02fr 0.13fr 0.85fr;
    grid-template-areas: 'actions' 'info' 'subject';
}


.email-details h3{
    font-family:'roboto-thin'
}

.details-info{
    padding: 15px;
    color: var(--clr6);
    grid-area: info;
    display: flex;
    flex-direction: column;
}

.details-info *{
    /* border-bottom: 1px solid black; */
}

.details-actions{
    /* background-color: var(--clr1); */
    grid-area: actions;
    padding: 15px;
}

.action-btn{
    border: 0;
    margin: 0;
    padding: 0;
    height: 10px;
    color: black;
    background-color: transparent;
}
.open-btn{
    background-color: var(--clr2);
    border-radius: 10px;
}


.details-body{
    padding: 15px;
    color: var(--clr6);
    grid-area: subject;
}

@media (max-width:1200px) {
    .email-details{
        font-size: 28px;
    }
    
}