.email-filter{
    text-align: center;
    grid-area: filter;
    display: flex;
}

.filter-input{
    width: 70%;
    border-radius: 19px;
    justify-self: flex-start;
    align-self: center;
}

.filter-btns{
    padding: 5px;
    align-self:center;
    display: flex;
    gap: 5px;
}

.filter-btn{
    color: var(--clr6);
    background-color: var(--clr5);
    border-radius: 19px;
    width: 90px;
    border: none;
}