.email-controller{
    grid-area: controller;
    background-color: var(--clr2);
    display: flex;
    flex-direction: column;
    gap: 3px;
    /* padding: 20px; */
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}



.logged-user{
    font-family: roboto;
    padding: 0 25px 10px 22px;
    color: var(--clr6);
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-rows: 0.2fr 0.2fr 0.4fr 0.2fr ;
    grid-template-areas: 'img name' 'email email' 'bar bar' 'st st'  ;
}

.logged-user h4, .logged-user small{
    font-family: roboto-bold;
}

.email-stats{
    grid-column: span 2;
}

.user-img{
    width: 50px;
}

.user-name{
    grid-area: name;
    display: flex;
    align-items: center;
}
.user-email{
    grid-area: email;
    margin-bottom: 10px;
}

.progress-bar{
    grid-area: bar;
    border: 1px solid black;
    background-color: var(--clr1);
    border-radius: 4px;
    margin-bottom: 10px;
}

.bar{
    background-color:var(--clr6);
    height:24px;
    border-radius: 4px;
}

.toggle-menu-btn{
   color: var(--clr7);
   width: 50px;
   font-size: 52px;
   border: none;
   background-color: transparent;
   padding: 0;
   display: none;
}
.view-mode-btns{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.dark-mode-btn, .light-mode-btn{
    color: var(--clr6);
    border: none;
    background-color: transparent;
}

.controller-btn{
    color: black;
    border: none;
    background-color: transparent;
    text-align: left;
}

.controller-btn{
    padding: 20px;
    border-radius: 0 22px 22px 0;
    color: var(--clr6);
    font-weight: bold;
    width: 98%;
}

.compose-btn{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--clr3);
    color: var(--clr6);
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    min-width: max-content;
    text-align: left;
    border: none;
}

.email-main.dark .compose-btn{
    background-color: var(--clr4);
}

.active{
    background-color: var(--clr4);
}

@media (max-width:1200px) {
    .email-controller {
        padding: 0px;
        position: fixed;
        z-index: 60;
        width: 90%;
        height: 100%;
        left: -150%;
        transition: left 0.8s;
    }
    .compose-btn{
        position: fixed;
        content: 'hello';
        bottom: 50px;
        left: 0;
        width: 50px;
    }

    .compose-btn span{
        display: none;
    }
    .controller-btn{
        width: 85%;
    }
    .logged-user{
        padding: 18px;
        width: 300px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.2fr 0.2fr 0.2fr;
        grid-template-areas: 'img' 'name' 'email' 'bar' ;

    }
    .toggle-menu-btn{
        padding: 10px;
    }
    .controller{
        width: 346px;
    }
    
    .email-controller:not(.open) .toggle-menu-btn{
        position: fixed;
        display: block;
        left: 2px;
    }
    .email-controller.open{
        left: 0%;
    }

    .email-controller.open .toggle-menu-btn{
        display: block;
    }
    .email-controller.open .compose-btn{
        display: none;
    }
    
}