.email-filter{
    background-color: var(--clr2);
    text-align: center;
    grid-area: filter;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;

}

.filter-input{
    width: 40%;
    padding: 15px;
    border-radius: 8px;
    border: none;
    background-color: var(--clr3);
    justify-self: flex-start;
    align-self: center;
    transition: background-color 0.3s ease-out;
}
.filter-input:focus{
    background-color: var(--clr1);
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;

    outline: none;
}

.filter-btns{
    padding: 5px;
    align-self:center;
    display: flex;
    gap: 5px;
}

.filter-btn{
    color: var(--clr6);
    background-color: var(--clr2);
    border-radius: 19px;
    width: 90px;
    border: none;
}

@media (max-width:1200px) {
    .email-filter{
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .filter-input{
        border-radius: 4px;
        border:none;
        width: 300px;
    }
    
}