.email-main{
    height: 90vh;
    display: grid;
    grid-template-columns: 0.15fr 0.85fr;
    grid-template-rows: 0.15fr 0.85fr;
    grid-template-areas: 'logo filter' 'controller emails';
}

.img-container{
    background-image: url(../../../img/gmail.png);
    background-position: center;
    grid-area: logo;
    background-repeat: no-repeat;
    background-color:var(--clr2);
}

.dark{
    --clr2: #2F2F2F;
    --clr6: white;
    --clr1:#3C3C3C;
    --clr4: #3C3C3C;
    --clr3: #252525;
    --clr5:2F2F2F;
}

@media (max-width:1200px) {
    .email-main{
        grid-template-rows: 0.1fr 0.2fr 0.8fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'logo' 'filter' 'emails';
    }
    .img-container{
        background-image: url(../../../img/gmail-mobile.png);
        background-position: 50%;
    }
    
}
