.email-controller{
    grid-area: controller;
    background-color: var(--clr2);
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-top: 10px;
}

.toggle-menu-btn{
   color: var(--clr7);
   width: 50px;
   font-size: 50px;
   border: none;
   background-color: transparent;
   display: none;
}
.view-mode-btns{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.dark-mode-btn, .light-mode-btn{
    color: var(--clr6);
    border: none;
    background-color: transparent;
}

.controller-btn{
    color: black;
    border: none;
    background-color: transparent;
    text-align: left;
}

.controller-btn{
    padding: 20px;
    border-radius: 0 22px 22px 0;
    color: var(--clr6);
    font-weight: bold;
    width: 98%;
}

.compose-btn{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--clr3);
    color: var(--clr6);
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    min-width: max-content;
    text-align: left;
    border: none;
}

.active{
    background-color: var(--clr4);
}

@media (max-width:1200px) {
    .email-controller {
        background-color: var(--clr2);
        position: fixed;
        z-index: 20;
        width: 90%;
        bottom: 0;
        left: -150%;
        height: 95%;
        transition: left 0.5s;
    }
    .img-container{
        display: none;
    }
    .compose-btn{
        position: fixed;
        bottom: 50px;
        left: 15px;
        width: 50px;
    }

    
    .email-controller:not(.open) .toggle-menu-btn{
        display: block;
        position: fixed;
        padding: 0;
        left: 2px;
        top: 60px;
    }
    .email-controller.open{
        left: 50%;
        left: 0;

    }

    .email-controller.open .toggle-menu-btn{
        display: block;
    }
    
}