:root {
  --prm1: rgb(255, 255, 255);
  --prm2: black;
  --prm3: rgb(218,220,224);



/* google apps */

--clr1: rgb(255, 255, 255);
--clr2: #f6f8fc;
--clr3: #c2e7ff; 

/* inbox */
--clr4: #d3e3fd; 
/* unread */
--clr5: #f2f6fc;
--clr6: #001D35;
--clr7: #84878B;
--clr8: #0957D0;

  --secondary-clr1: rgb(88, 201, 58);
  --secondary-clr2: rgb(122, 7, 70);

} 