:root {
  --prm1: rgb(255, 255, 255);
  --prm2: rgb(218,220,224);


/* MAIL */

--e1: rgb(255, 255, 255);
--e2: #f6f8fc;
--e3: #c2e7ff;
/* --clr4: #d3e3fd; INBOX */
/* --clr5: ##f2f6fc; unread */

/* NOTES */


  --secondary-clr1: rgb(88, 201, 58);
  --secondary-clr2: rgb(122, 7, 70);

} 